//sidebar default
$sidebar-default-background: transparent;
$sidebar-default-color: #5b5b5b;
$sidebar-default-hover: #eee;

// sidebar blue
$sidebar-blue-background: #E2ECF0;
$sidebar-blue-color: #333;
$sidebar-blue-hover: #529DC4;

//sidebar default
$sidebar-dark-background: #31353E;
$sidebar-dark-color: #7F8690;
$sidebar-dark-hover: #424B52;